<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::head">
</head>
<body>
<!-- link css order -->
<link rel="stylesheet" href="/css/order.css">
<!-- link css history -->
<link rel="stylesheet" href="/css/history.css">
<th:block th:replace="/layout/layout::toastify"></th:block>

<!-- header -->
<header th:replace="/layout/layout::header"></header>

<!-- main history -->
<main>
	<!-- history user order hair -->
	
	<div class="history">
		<div class="container">
			<h2 class="title">Lịch Sử Đặt Lịch 30 Shine</h2>
			
			<div class="tabs">
				<div class="tab active">Đang Xử Lý</div>
				<div class="tab">Đã Hoàn Thành</div>
			</div>
			
			<div class="page action">
				<th:block th:if="${pending.size()}>0">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">NANE</th>
							<th scope="col">PHONE</th>
							<th scope="col">ADDRESS</th>
							<th scope="col">SERVICE</th>
							<th scope="col">TIME</th>
							<th scope="col">ACTION</th>
							<th scope="col">STATUS</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item,loop:${pending}">
							<th scope="row" th:text="${loop.count}"></th>
							<td th:text="${session.data_user.fullName}"></td>
							<td th:text="${session.data_user.phone}"></td>
							<td th:text="${item.address}"></td>
							<td th:text="${item.type.typeName}"></td>
							<td th:text="|Ngày: ${item.date}  Giờ: ${item.time.time}|"></td>
							<td>
								<a th:href="@{/handleOrder/handleEdit/{id}(id=${item.id})}" type="button"
									 class="btn btn-success">Sửa</a>
								<a th:href="@{/handleOrder/handleDelete/{id}(id=${item.id})}" type="button" class="btn btn-danger">Hủy
									Kèo</a>
							</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${pending.size()}>0">
					<h3 style="text-align: center;padding: 100px;color: #999898">Your Order Empty</h3>
				</th:block>
			</div>
			
			<div class="page">
				<th:block th:if="${fulfilled.size()}>0">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">NAME</th>
							<th scope="col">PHONE</th>
							<th scope="col">ADDRESS</th>
							<th scope="col">SERVICE</th>
							<th scope="col">TIME</th>
							<th scope="col">ACTION</th>
							<th scope="col">STATUS</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item,loop:${fulfilled}">
							<th scope="row" th:text="${loop.count}"></th>
							<td th:text="${session.data_user.fullName}"></td>
							<td th:text="${session.data_user.phone}"></td>
							<td th:text="${item.address}"></td>
							<td th:text="${item.type.typeName}"></td>
							<td th:text="|Ngày: ${item.date}  Giờ: ${item.time.time}|"></td>
							<td>
								<th:block th:if="${item.reviews}!=null">
									<p><i class="fa-solid fa-circle-check"></i> Đã Đánh Giá</p>
								</th:block>
								<th:block th:unless="${item.reviews}!=null">
									<button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-success">
										Đánh Giá
									</button>
								</th:block>
							</td>
							<td>
								<i class="fa-solid fa-circle-check"></i>
							</td>
						</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${fulfilled.size()}>0">
					<h3 style="text-align: center;padding: 100px;color: #999898">Your Order Empty</h3>
				</th:block>
			</div>
		</div>
	</div>
</main>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--	<div class="modal-dialog">-->
<!--		<div class="modal-content">-->
<!--			<div class="modal-body form-container">-->
<!--				<div class="form">-->
<!--					<span class="heading">Get in touch</span>-->
<!--					<input placeholder="Email" id="mail" type="email" class="input">-->
<!--					<textarea placeholder="Say Hello" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>-->
<!--					<div class="button-container">-->
<!--						<div class="send-button">Send</div>-->
<!--						<div class="reset-button-container">-->
<!--							<div id="reset-btn" class="reset-button">Reset</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!-- footer -->
<footer th:replace="/layout/layout::footer"></footer>
<th:block th:replace="/layout/layout::foot"></th:block>

<script>
	let tabs = document.querySelectorAll(".tab");
	let pages = document.querySelectorAll(".page");
	tabs.forEach((e, i) => {
		let page = pages[i];
		e.addEventListener('click', function () {
			let activeTab = document.querySelector(".tab.active");
			let actionPage = document.querySelector(".page.action");
			activeTab.classList.remove("active");
			actionPage.classList.remove("action");
			
			e.classList.add("active");
			page.classList.add("action");
		})
	})
</script>
</body>
</html>