<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::head">
</head>
<body>
<!-- link css order -->
<link rel="stylesheet" href="/css/order.css">
<!-- link css history -->
<link rel="stylesheet" href="/css/history.css">

<th:block th:replace="/layout/layout::toastify"></th:block>

<th:block th:if="${delete_success}=='Hủy Kèo Thành Công'">
	<script>
		Toastify({
			text: "Hủy Kèo Thành Công",
			gravity: 'top',
			position: 'center',
			duration: 3000,
		}).showToast();
	</script>
</th:block>
<th:block th:if="${review_success}=='Đánh Giá Thành Công'">
	<script>
		Toastify({
			text: "Đánh Giá Thành Công",
			gravity: 'top',
			position: 'center',
			duration: 3000,
		}).showToast();
	</script>
</th:block>


<!-- header -->
<header th:replace="/layout/layout::header"></header>
<script
				src="https://code.jquery.com/jquery-3.7.0.js"
				integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
				crossorigin="anonymous">
</script>
<script>
	
	function handleRateOrder(id) {
		console.log("ID: ", id)
		$("#id-order").val(id)
	}

</script>

<!-- main history -->
<main>
	<!-- history user order hair -->
	
	<div class="history">
		<div class="container">
			<h2 class="title">Lịch Sử Đặt Lịch 30 Shine</h2>
			
			<div class="tabs">
				<div class="tab active">Đang Xử Lý</div>
				<div class="tab">Đã Hoàn Thành</div>
			</div>
			
			<div class="page action">
				<th:block th:if="${pending.size()}>0">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">NANE</th>
							<th scope="col">PHONE</th>
							<th scope="col">ADDRESS</th>
							<th scope="col">SERVICE</th>
							<th scope="col">BARBER</th>
							<th scope="col">TIME</th>
							<th scope="col">ACTION</th>
							<th scope="col">STATUS</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item,loop:${pending}">
							<th scope="row" th:text="${loop.count}"></th>
							<td th:text="${session.data_user.fullName}"></td>
							<td th:text="${session.data_user.phone}"></td>
							<td th:text="${item.address}"></td>
							<td th:text="${item.type.typeName}"></td>
							<td th:text="${item.barber.barberName}"></td>
							<td th:text="|Ngày: ${item.date}  Giờ: ${item.time.time}|"></td>
							<td>
								<a th:href="@{/handleOrder/handleEdit/{id}(id=${item.id})}" type="button"
									 class="btn btn-success">Sửa</a>
								<a th:href="@{/handleOrder/handleDelete/{id}(id=${item.id})}" type="button" class="btn btn-danger">Hủy
									Kèo</a>
							</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${pending.size()}>0">
					<h3 style="text-align: center;padding: 100px;color: #999898">Your Order Empty</h3>
				</th:block>
			</div>
			
			<div class="page">
				<th:block th:if="${fulfilled.size()}>0">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">NAME</th>
							<th scope="col">PHONE</th>
							<th scope="col">ADDRESS</th>
							<th scope="col">SERVICE</th>
							<th scope="col">BARBER</th>
							<th scope="col">TIME</th>
							<th scope="col">ACTION</th>
							<th scope="col">STATUS</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item,loop:${fulfilled}">
							<th scope="row" th:text="${loop.count}"></th>
							<td th:text="${session.data_user.fullName}"></td>
							<td th:text="${session.data_user.phone}"></td>
							<td th:text="${item.address}"></td>
							<td th:text="${item.type.typeName}"></td>
							<td th:text="${item.barber.barberName}"></td>
							<td th:text="|Ngày: ${item.date}  Giờ: ${item.time.time}|"></td>
							<td>
								<th:block th:if="${item.reviews}!=null">
									<p style="color: #f1c40f" th:switch="${item.reviews.rate}">
										<th:block th:case="1">
											<i class="fa-solid fa-star"></i>
										</th:block>
										<th:block th:case="2">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
										</th:block>
										<th:block th:case="3">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
										</th:block>
										<th:block th:case="4">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
										</th:block>
										<th:block th:case="5">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
										</th:block>
									</p>
								</th:block>
								<th:block th:unless="${item.reviews}!=null">
									<button th:onclick="|handleRateOrder(${item.id})|" data-bs-toggle="modal"
													data-bs-target="#exampleModal" type="button" class="btn btn-success">
										Đánh Giá
									</button>
								</th:block>
							</td>
							<td>
								<i class="fa-solid fa-circle-check"></i>
							</td>
						</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${fulfilled.size()}>0">
					<h3 style="text-align: center;padding: 100px;color: #999898">Your Order Empty</h3>
				</th:block>
			</div>
		</div>
	</div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="margin-top:300px !important">
			<div class="modal-body form-container">
				<form th:action="@{/handleReviews/review}" method="post">
					<input type="hidden" id="id-order" name="idOrder"/>
					<div class="rating">
						<input type="radio" id="1" name="star" value="5">
						<label for="1">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
							</svg>
						</label>
						<input type="radio" id="2" name="star" value="4">
						<label for="2">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
							</svg>
						</label>
						<input type="radio" id="3" name="star" value="3">
						<label for="3">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
							</svg>
						</label>
						<input type="radio" id="4" name="star" value="2">
						<label for="4">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
							</svg>
						</label>
						<input type="radio" id="5" name="star" value="1">
						<label for="5">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
							</svg>
						</label>
					</div>
					<div class="button-container">
						<div class="reset-button-container">
							<button type="submit" style="width: 100%;" id="reset-btn" class="reset-button">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer th:replace="/layout/layout::footer"></footer>
<th:block th:replace="/layout/layout::foot"></th:block>

<script>
	let tabs = document.querySelectorAll(".tab");
	let pages = document.querySelectorAll(".page");
	tabs.forEach((e, i) => {
		let page = pages[i];
		e.addEventListener('click', function () {
			let activeTab = document.querySelector(".tab.active");
			let actionPage = document.querySelector(".page.action");
			activeTab.classList.remove("active");
			actionPage.classList.remove("action");
			
			e.classList.add("active");
			page.classList.add("action");
		})
	})
</script>
</body>
</html>