<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::head">
</head>
<body>
<!--&lt;!&ndash; link css order &ndash;&gt;-->
<link rel="stylesheet" href="/css/order.css">
<!-- header -->
<header th:replace="/layout/layout::header"></header>

<!-- form order -->
<main>
	<!-- carousel -->
	<div class="banner">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/img/slide/slide-1.jpg" class="d-block w-100" alt="..."/>
				</div>
				<div class="carousel-item">
					<img src="/img/slide/slide-2.jpg" class="d-block w-100" alt="..."/>
				</div>
				<div class="carousel-item">
					<img src="/img/slide/slide-3.jpg" class="d-block w-100" alt="..."/>
				</div>
			</div>
		</div>
	</div>
	<!-- form order -->
	<form action="" class="flex-form" id="hash_form" data-aos="fade-up">
		<!-- option -->
		<div class="order" data-aos="fade-up">
			<div class="item">
				<h2 class="title">Đặt Lịch Giữ Chỗ</h2>
				<p class="info">SĐT: <span class="tel"></span></p>
				<h5>1. Chọn địa điểm</h5>
				<div class="choose-city">
					<input type="radio" name="city" id="hanoi"/>
					<label class="btn btn-secondary choose_city" for="hanoi">HÀ NỘI</label>
					<input type="radio" name="city" id="hochiminh"/>
					<label class="btn btn-secondary choose_city" for="hochiminh">HỒ CHÍ MINH</label>
					<input type="radio" name="city" id="danang"/>
					<label class="btn btn-secondary choose_city" for="danang">ĐÀ NẴNG</label>
				</div>
				<h5>2. Chọn dịnh vụ</h5>
				<div class="choose-service">
					<input type="radio" name="service" id="catgoi"/>
					<label class="btn btn-secondary choose_service" for="catgoi">Cắt gội massage</label>
					<input type="radio" name="service" id="uon"/>
					<label class="btn btn-secondary choose_service" for="uon">Uốn nhập khẩu</label>
					<input type="radio" name="service" id="nhuom"/>
					<label class="btn btn-secondary choose_service" for="nhuom">Nhuộm nhập khẩu ý</label>
				</div>
				<div class="choose-your-time">
					<h5>3. Chọn thời gian</h5>
					<input type="date" name=""/>
					<div class="calender-time">
						<input type="radio" name="timeOrder" id="time1"/>
						<label class="btn btn-outline-warning choose_time" for="time1">7h - 10h</label>
						<input type="radio" name="timeOrder" id="time2"/>
						<label class="btn btn-outline-warning choose_time" for="time2">10h - 12h</label>
						<input type="radio" name="timeOrder" id="time3"/>
						<label class="btn btn-outline-warning choose_time" for="time3">12h - 14h</label>
						<input type="radio" name="timeOrder" id="time4"/>
						<label class="btn btn-outline-warning choose_time" for="time4">14h - 16h</label>
						<input type="radio" name="timeOrder" id="time5"/>
						<label class="btn btn-outline-warning choose_time" for="time5">16h - 18h</label>
						<input type="radio" name="timeOrder" id="time6"/>
						<label class="btn btn-outline-warning choose_time" for="time6">18h - 20h</label>
						<input type="radio" name="timeOrder" id="time7"/>
						<label class="btn btn-outline-warning choose_time" for="time7">20h - 22h</label>
						<input type="radio" name="timeOrder" id="time8"/>
						<label class="btn btn-outline-warning choose_time" for="time8">22h - 24h</label>
					</div>
				</div>
				<div class="actionDone">
					<button class="btn btn-warning done">Hoàn tất</button>
				</div>
			</div>
		</div>
		<div class="select_barber" data-aos="fade-up">
			<h2><i class="fa-solid fa-users"></i> Lựa Chọn Barber</h2>
			<!-- option barber -->
			<div class="flex-barber">
				<!-- barber -->
				<input type="radio" name="yourBarber" id="barber1">
				<label class="barber active_barber" for="barber1">
					<img src="/img/barber/barber1.jpg" alt=""/>
				</label>
				
				<input type="radio" name="yourBarber" id="barber2">
				<label class="barber" for="barber2">
					<img src="/img/barber/barber2.jpg" alt=""/>
				</label>
				
				<input type="radio" name="yourBarber" id="barber3">
				<label class="barber" for="barber3">
					<img src="/img/barber/barber3.jpg" alt=""/>
				</label>
				
				<input type="radio" name="yourBarber" id="barber4">
				<label class="barber" for="barber4">
					<img src="/img/barber/barber4.jpg" alt=""/>
				</label>
				
				<input type="radio" name="yourBarber" id="barber5">
				<label class="barber" for="barber5">
					<img src="/img/barber/barber5.jpg" alt=""/>
				</label>
				
				<input type="radio" name="yourBarber" id="barber6">
				<label class="barber" for="barber6">
					<img src="/img/barber/barber6.jpg" alt=""/>
				</label>
			</div>
		</div>
	</form>
</main>

<!-- footer -->
<footer th:replace="/layout/layout::footer"></footer>
<th:block th:replace="/layout/layout::foot"></th:block>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper(".mySwiper", {
		effect: "cards",
		grabCursor: true,
	});
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
	let city = document.querySelectorAll(".choose-city .choose_city");
	city.forEach(function (e) {
		e.onclick = function () {
			let active = document.querySelector(".choose-city .btn.active");
			if (active) {
				active.classList.remove("active");
			}
			e.classList.add("active");
		};
	});
	
	let service = document.querySelectorAll(".choose-service .choose_service");
	service.forEach(function (e) {
		e.onclick = function () {
			let active = document.querySelector(".choose-service .btn.active");
			if (active) {
				active.classList.remove("active");
			}
			e.classList.add("active");
		};
	});
	
	let timeOrder = document.querySelectorAll(".choose-your-time .choose_time");
	timeOrder.forEach(function (e) {
		e.onclick = function () {
			let active = document.querySelector(".choose-your-time .btn.active");
			if (active) {
				active.classList.remove("active");
			}
			e.classList.add("active");
		};
	});
	
	let barbers = document.querySelectorAll(".flex-barber .barber");
	barbers.forEach(function (e) {
		e.onclick = function () {
			let active = document.querySelector(".barber.active_barber");
			if (active) {
				active.classList.remove("active_barber");
			}
			e.classList.add("active_barber");
			// valueCity = e.innerText;
		};
	});
</script>
<th:block th:replace="/layout/layout::script_aos"></th:block>
</body>
</html>