<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout::head">
</head>
<body>
<!-- link css login -->
<link rel="stylesheet" href="/css/register.css"/>
<th:block th:replace="/layout/layout::toastify"></th:block>

<!-- login -->
<div class="flex_login">
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/img/banner_login/banner_1.webp" alt=""/>
			</div>
			<div class="swiper-slide">
				<img src="/img/banner_login/banner_2.jpg" alt=""/>
			</div>
			<div class="swiper-slide">
				<img src="/img/banner_login/banner_3.webp" alt=""/>
			</div>
		</div>
		<!-- <div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div> -->
		<div class="autoplay-progress">
			<svg viewBox="0 0 48 48">
				<circle cx="24" cy="24" r="20"></circle>
			</svg>
			<span></span>
		</div>
	</div>
	
	<form th:action="@{/user/handleRegister}" method="post" class="card" th:object="${dataRegister}">
		<a class="singup">Sign Up</a>
		<div class="inputBox">
			<input type="text" required="required" th:field="*{fullName}"/>
			<span>FullName</span>
		</div>
		
		<div class="inputBox1">
			<input type="number" required="required" th:field="*{phone}"/>
			<span class="user">Phone</span>
		</div>
		
		<div class="inputBox">
			<input type="password" required="required" th:field="*{password}"/>
			<span>Password</span>
		</div>
		
		<div class="inputBox">
			<input type="password" required="required" th:field="*{confirmPassword}"/>
			<span>Re_Password</span>
		</div>
		<p>Can you <a style="color: #1c51ff" th:href="@{/signIn}">Sign In ?</a></p>
		<button class="enter">SIGN UP</button>
	</form>
</div>
<!-- Toast Message -->
<th:block th:switch="${message_error}">
	<th:block th:case="'password1'">
		<script>
			Toastify({
				text: "Mật Khẩu Không Trùng Nhau",
				gravity: 'top',
				position: 'center',
				duration: 3000,
				style: {
					background: "#0093E9",
					backgroundImage: "linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)"
				}
			}).showToast();
		</script>
	</th:block>
	<th:block th:case="'password2'">
		<script>
			Toastify({
				text: "Mật khẩu phải lơn hơn 6 kí tự",
				gravity: 'top',
				position: 'center',
				duration: 3000,
				style: {
					background: "#0093E9",
					backgroundImage: "linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)"
				}
			}).showToast();
		</script>
	</th:block>
	<th:block th:case="'phone'">
		<script>
			Toastify({
				text: "Số Điện Thoại Đã Trùng Hoặc Không Đúng Định Dạng",
				gravity: 'top',
				position: 'center',
				duration: 3000,
				style: {
					background: "#0093E9",
					backgroundImage: "linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)"
				}
			}).showToast();
		</script>
	</th:block>
	<th:block th:case="'Số Điện Thoại Không Đúng Định Dạng'">
		<script>
			Toastify({
				text: "Số Điện Thoại Không Đúng Định Dạng",
				gravity: 'top',
				position: 'center',
				duration: 3000,
				style: {
					background: "#0093E9",
					backgroundImage: "linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)"
				}
			}).showToast();
		</script>
	</th:block>
</th:block>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	const progressCircle = document.querySelector(".autoplay-progress svg");
	const progressContent = document.querySelector(".autoplay-progress span");
	let swiper = new Swiper(".mySwiper", {
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		on: {
			autoplayTimeLeft(s, time, progress) {
				progressCircle.style.setProperty("--progress", 1 - progress);
				progressContent.textContent = `${Math.ceil(time / 1000)}s`;
			},
		},
	});
</script>
</body>
</html>