* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

nav {
  width: 20%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: #fff;
}

ul li {
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

nav .admin__ac {
  background: #ffcc33;
  border-bottom: 1px solid #000;
  /* border-right: 1px solid #000; */
  height: 50px;
}

nav .avatar-ad {
  width: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 8px;
}

.avatar-ad img {
  width: 100%;
  border-radius: 50%;
}

.avatar-ad .name-ad {
  margin: 0;
  margin-left: 10px;
}

.navigation {
  padding: 15px;
}

.navigation p {
  margin-bottom: 10px;
  background: #eaeaea;
  padding: 8px;
  border-radius: 5px;
}

.active {
  background: #ffd558 !important;
}

/* pages */

.pages__block {
  flex: 1;
  margin-left: 20%;
  background: #eaeaea;
  overflow: auto;
}

.pages__block .subnav {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
  height: 50px;
  width: 100%;
  /* line-height: 50px; */
  /* padding: 0 5px; */
  display: flex;
  align-items: center;
}

.subnav ul {
  padding: 0;
  display: flex;
  gap: 15px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.subnav li:nth-child(4) {
  margin-left: auto;
  position: relative;
}

.subnav li:nth-child(4) span {
  text-align: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  background: red;
  color: #fff;
  padding: 0 2px;
  border-radius: 3px;
  position: absolute;
  top: -3px;
  right: -6px;
}

.page__item {
  display: none;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 20px 30px;
}

.page__item.action {
  display: block;
}

/* data trang chủ */

.page__item .sub-title {
  padding: 20px 0;
}

.row-data {
  display: flex;
  gap: 15px;
}

.row-data .item-data {
  color: #eaeaea;
  font-size: 18px;
  width: calc(100% / 4);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: orange;
}

.item-data:first-child {
  background: #00a0b6;
}

.item-data:nth-child(2) {
  background: #00a84c;
}

.item-data:nth-child(3) {
  background: #e6ae1f;
}

.item-data:last-child {
  background: #e53b48;
}

/* new feed */
.block__news {
  margin-top: 35px;
  display: flex;
  gap: 20px;
}

.newFeed {
  width: 60%;
}

.newFeed .new__item {
  width: 100%;
  border-radius: 12px;
  transition: all 0.4s ease;
  margin-bottom: 15px;
  position: relative;
}

.new__item i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  z-index: 2;
  background: #eaeaeab1;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.new__item .block_img {
  height: 280px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.new__item .new__item--info {
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.new__item:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.45);
}

.new__item:hover img {
  transform: scale(1.05);
}

.addNews {
  width: 40%;
  background: #fff;
  border-radius: 8px;
  height: 100%;
  position: sticky;
  top: 70px;
  /* display: flex;
  flex-direction: column; */
  border: 2px solid #2b65f8;
  padding: 15px;
}

.addNews .form-floating {
  margin-bottom: 15px;
}

.addNews .upload-img {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.addNews input[type="file"] {
  display: none;
  margin: 15px;
}

.addNews .block__img--news {
  width: 100%;
  height: 200px;
}

.block__img--news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.addNews button {
  display: block;
  width: 100%;
}

/* thông tin đặt lịch */

.dataCustomer {
  text-align: center;
}

/* thông tin nguồn ảnh */

.flex_container {
  display: flex;
  gap: 10px;
}

.block__list--img {
  width: 70%;
  display: flex;
  gap: 8px;
  padding: 8px;
}

.block__list--img .img_item {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.block__list--img .img_item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.img_item .close {
  transition: all 0.4s ease;
  opacity: 0;
  color: red;
  font-size: 45px;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.img_item .close:hover {
  opacity: 1;
}

.block__list--img .col {
  width: calc(100% / 5);
}

.upload_img-item {
  position: sticky;
  top: 70px;
  width: 30%;
  height: 100%;
  /* background: orange; */
  padding: 8px;
  border: 2px solid #2b65f8;
  border-radius: 5px;
}

.block__img--show {
  background: red;
}

.block__img--show img {
  width: 100%;
  display: block;
}

.upload-hair {
  margin: 8px 0;
}

.upload-hair input[type="file"] {
  display: none;
}

.upload-hair .row-flex {
  display: flex;
  gap: 6px;
}

.row-flex .add {
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.row-flex input {
  flex: 1;
  outline: none;
  border: none;
  padding-left: 8px;
  border-radius: 5px;
}

.upload-hair button {
  display: block;
  width: 100%;
  margin-top: 8px;
  border: none;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}



.page__item .flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 15px 30px;
}

.page__item .searchCus {
  display: inline-block;
  padding: 6px;
  width: 50%;
  text-align: center;
  border-radius: 999px;
  outline: none;
  transition: all 0.4s ease;
}

.page__item .searchCus:focus {
  width: 100%;
}

.page__item .customer {
  padding: 30px 0;
}

table {
  border: 2px solid #000;
}



@media screen and (max-width: 970px) {
  nav {
    display: none;
    width: 40%;
  }

  .pages__block {
    margin-left: 0;
  }

  .row-data {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row-data .item-data {
    width: 48%;
  }

  .block__news {
    flex-direction: column;
  }

  .newFeed,
  .addNews {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
    width: 60%;
  }

  .pages__block {
    margin-left: 0;
  }

  .row-data {
    flex-direction: column;
  }

  .row-data .item-data {
    width: 100%;
  }

  .block__list--img {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  .block__list--img .col {
    width: 100%;
  }
}

.open {
  display: block !important;
}