.history {
  padding: 150px 0;
}

.history .title {
  text-align: center;
  font-size: 50px;
  padding: 50px;
}

.history .table {
  border: 2px solid #000;
  text-align: center;
}

.table thead {
  font-weight: bold;
}

.modal-history input[type="date"] {
  background: #fff;
}

.modal-history button {
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.pagination {
  display: flex;
  gap: 7px;
  align-items: center;
}

.pagination .prev,
.pagination .next {
  background: #1c51ff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
}

.pagination .list-page {
  gap: 5px;
  display: flex;
}

.list-page .page-number {
  width: 30px;
  height: 30px;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.page-number.active {
  background: #ffcc33 !important;
  color: rgb(25, 0, 255);
  font-weight: bold;
}

.page-his.action {
  display: block !important;
}

.page-number.disable {
  display: none !important;
}

.page-his.disable {
  display: none !important;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  padding: 20px;
}

.tab {
  min-width: 150px;
  text-align: center;
  padding: 10px 20px;
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  border-bottom: 5px solid #000;
}

.page {
  display: none !important;
}

.page.action {
  display: block !important;
}


.orange {
  color: #ff7a01;
}

.form-container {
  max-width: 700px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ff7a01;
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #ff7a01;
}

.form-container  .button-container {
  display: flex;
  gap: 10px;
}

.form-container  .button-container .send-button {
  flex: 1;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}

.form-container  .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
}

.form-container  .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex: 1;
}

.form-container  .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container  .button-container .reset-button-container .reset-button:hover {
  background: #ff7a01;
  color: #001925;
}

.model-content {
  margin-top: 300px !important;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
  padding: 20px;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
