<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/layout::head">
</head>
<body>
<style>
	table img {
		width: 150px;
		height: 150px;
		object-fit: cover;
	}
</style>
<div class="wrapper">
	<th:block th:replace="/admin/layout::sidebar"></th:block>
	<div class="main">
		<th:block th:replace="/admin/layout::navbar"></th:block>
		<main class="content">
			<div class="container-fluid p-0">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Barber Manager</h3>
						<nav class="navbar navbar-expand-lg bg-light">
							<div class="container-fluid">
								<a class="navbar-brand" href="#">
									<button type="button" class="btn btn-success">+ Create new Barber</button>
								</a>
								<form class="d-flex" role="search">
									<input class="form-control me-2 fst-italic" type="search"
												 placeholder="Enter user's name... "
												 aria-label="Search">
									<button class="btn btn-outline-success" type="submit">Search</button>
								</form>
							</div>
						</nav>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped text-center">
							<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Avatar</th>
								<th>Quantity Cut</th>
								<th>Status</th>
								<th colspan="2">Actions</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="barber,loop:${listBarber}">
								<td th:text="${loop.count}"></td>
								<td th:text="${barber.barberName}"></td>
								<td><img th:src="@{|/img/barber/${barber.urlBarber}|}" alt=""></td>
								<td th:text="${barber.quantity}"></td>
								<td th:text="${barber.status}?'Đang Làm Việc':'Đã Nghỉ Việc'"></td>
								<td><a class="btn btn-danger" th:href="@{/handleAdmin/layoffBarber/{id}(id=${barber.id})}">Khóa</a></td>
								<td><a class="btn btn-primary" th:href="@{/handleAdmin/inviteBarber/{id}(id=${barber.id})}">Mở Khóa</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<nav aria-label="Page navigation example ">
						<ul class="pagination float-end mx-4">
							<li class="page-item disabled">
								<a class="page-link">Previous</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
					<!-- /.card-body -->
				</div>
			
			</div>
		</main>
		<th:block th:replace="/admin/layout::footer"></th:block>
	</div>
</div>

<!-- Model hair -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form th:action="@{/handleUpload/uploadBarber}" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="category_name" class="form-label">Barber Name: </label>
						<input type="number" placeholder="Nhập cột muốn thêm.. " name="name" class="form-control"
									 id="category_name">
					</div>
					<div class="flex-upload">
						<label class="btn_upload" for="img"><i class="fa-solid fa-plus"></i></label>
						<input style="display: none" type="file" name="image" id="img">
					</div>
					<div class="flex-upload">
						<button class="btn btn-success m-5" type="submit">Upload</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<th:block th:replace="/admin/layout::script"></th:block>

</body>
</html>